
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  font-family: "Nunito", sans-serif;
  background-color: rgb(255, 255, 255);
}

.text-stroke-3 {
  -webkit-text-stroke: 3px black;
}

.color{
  color: #FF410B;
}

.bg-theme{
  background-color: #FF410B;
}
.font{
  font-size: 650px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

.text-truncate {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}
